.page-body {
   font-family: 'Roboto';
   font-weight: 400;
   color: #FFFFFF;
   font-size: 18px;
   line-height: 18px; 
   background-image: url("../img/background.png");
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-size:cover;
}

a {color: #FFFFFF; 
} 

.container {
   max-width: 1030px;
   margin: 0 auto;
}

/* HEADER */
/* .tours  img {
   border: 1px solid;
   border-image: linear-gradient(to right, white, black) 1;
} */

.top {
   display: flex;
   justify-content: space-between;
}

.logo-title {
   display: flex;
   padding-top: 51px;
   padding-bottom: 22px;
   font-weight: 700;
}

.brand {
   display: flex;
   align-items: center;
}
.logo {
   background-image: url("../img/logo3.png");
   height: 44px;
   width: 53px;
}
.brand:hover .logo {
   background-image: url('../img/logo2.svg');
}
.brand:hover .logo-text {
   color: #F26522;
}

.logo-text {
   font-weight: 700;
   margin-left: 8px;
}

.logo-name {
   display: flex;
   flex-direction: column;
   font-size: 29px;
   line-height: 29px;
}

.logo-name-last {
   font-size: 18px;
   line-height: 18px;
}

.contacts-details:hover {
   color: #F26522;
}

.contacts-details-1 {
   padding-top: 46px;
   margin-bottom: 19px;
}

.contacts-details {
   float: right;
}

/*  BODY MAIN CONTENT */
.tours-list {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 37px 57px;
}

.tour-item {
   position: relative;
   text-align: center;
   width: 300px;
}

.tour-item-details {
   background: #F26522; 
   width: 100%;
   position: absolute;
   top: 165px;
   height: 55px;
   display: none;
   transition: all .5s;
   width: 300px;
}

.tour-item:hover .tour-title {
   color: #F26522;
}
.tour-item:hover .tour-item-details {
   display: block;
} 
.tour-itme-photo {
   width: 300px;
}

.tout-item-line {
   display: flex;
   justify-content: space-between;
   margin-bottom: 12px;
   margin-left: 16px;
   margin-right: 16px;
   align-items: center;
}

.tour-item-price {
   font-size: 10px;
   line-height: 10px;
   text-align: left;
   margin-top: 7px;
   margin-bottom: 8px;
   margin-left: 16px;
}

.amount {
   font-size: 20px;
   line-height: 20px;
}

.tour-item-details-title {
   font-size: 14px;
   line-height: 14px;
   display: inline-block;
}

.tour-item-details-title::after{
   content: "";
   display: inline-block;
   height: 10px;
   width: 7px;
   background-image: url("../img/Vector1.svg");
   margin-left: 16px; 
}
.tour-title {
   font-size: 18px;
   line-height: 18px;
   margin-top: 18px;
}
/* FOOTER  */
.footer-title {
   text-align: center;
   margin-top: 48px;
   font-size: 12px;
   line-height: 12px;
   margin-bottom: 15px;
}
